# By default, pnpm creates a semistrict node_modules,
# meaning dependencies have access to undeclared dependencies
# but modules outside of node_modules do not.
# Sadly, AS IS, this layout does not work well with most frontend
# module bundler such as Webpack.
#
# Without setting this to true, then we need to explicitly define
# all packages used within our application in our own package.json
#
# references: https://pnpm.io/npmrc#shamefully-hoist
shamefully-hoist=true

# Nextweb private package registry
@nxweb:registry=https://npm.cloud.nextplatform.ai/
